<h3>Rerson Details</h3>
<hr>
<a routerLink="/persons" class="btn btn-primary">
  <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<br>
<br>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 id="firstName" class="panel-title">
      {{ person.firstName | uppercase }}
    </h3>
  </div>
  <div class="panel-body">
    <p id="lastName"class="panel-title">
      {{ person.lastName }}
    </p>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
    </li>
    <li id="email" class="list-group-item">
      {{ person.email }}
    </li>
  </ul>
  <div class="panel-footer">
    <button id="edit" class="btn btn-primary btn-sm" (click)='onEdit()'>
      <span class="glyphicon glyphicon-edit"></span>
    </button>
    <button id="delete" class="btn btn-warning btn-sm" (click)="onDelete()">
      <span class="glyphicon glyphicon-trash"></span>
    </button>
  </div>
</div>
